@import "./src/styles/_variables.scss";

.wrapper {
    position: relative;
}

.image {
    position: absolute;
    top: -102px;
    left: 0px;
}

h1 {
    letter-spacing: 0px;
    color: white;
    font-size: $xxl;
    font-weight: 300;
    position: relative;
    bottom: 0;
}

h1>span {
    font-family: sans-serif;
    font-size: 40px;
}

.lower__text {
    margin-top: 0;
    letter-spacing: 0.22px;

    span {
        margin-left: -3px;
        letter-spacing: 0.12px;
        font-size: $xxl;
    }
}

@media (max-width: 1700px) {
    .wrapper {       
        margin-bottom: 0;
        top: 0;
    }

    .image {       
        margin-top: 20px;
        left: 0px;
    }
  
    h1 {
        font-size: $xl;
    }
    
    h1>span {
        font-size: $xl;
    }
    
    .lower__text {   
        span {
            font-size: $xl;
        }
    }
}

@media (max-width: 1200px) {

    .image {       
        width: 120px;
        margin-top: 50px;
    }
}

@media (max-width: 1000px) {
    h1 {
        font-size: $l;
    }
    
    h1>span {
        font-size: $l;
    }
    
    .lower__text {   
        span {
            font-size: $l;
        }
    }
}

@media (max-width: 500px) {
    .image {       
        width: 80px;
        left: 0px;
    }
    h1 {
        font-size: $m;
    }
}