@import "./src/styles/_variables.scss";

.button {
    border: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    display: flex;
    width: 380px;
    height: 78px;
    background-color: $black;
    
    .description {
        position: absolute;
        overflow: hidden;
        color: $white;
        width: 80%;
        height: 100%;

        &>p {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            font: normal normal bold 18px/58px Poppins;
            letter-spacing: 3.6px;
            text-transform: uppercase;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            transition: color 0.3s ease-out;
          }
        
        &>p:hover {
            color: $black;
            transition: color 0.3s ease-out;
          }
        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateX(-100%);
            background: $yellow;
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease-out;
          }
        
        &:hover:before{
            transform: translateX(0);
            transition: transform 0.3s ease-out;
        }
    }

    .arrow {
        width: 78px;
        height: 78px;
        display: flex;
        justify-content: center;
        filter: invert(1);
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media (max-width: 800px) {
    .wrapper {
        width: 380px;
        height: 8vw;
        
        .description>p {        
            letter-spacing: 2.2px;
        }

        .arrow {
            height: 100%;
        }
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 250px;
        height: 10vw;

        .description>p {
            font-size: $s;
            letter-spacing: 1.2px;
        }
    } 
}