@import "./src/styles/_variables.scss";

.wrapper {
    margin-top: 114px;
    display: flex;
    justify-content: center;
    gap: 110px;
}

.date {
    margin-top: 33px;
    font: normal normal normal 18px Poppins;
    letter-spacing: -0.35px;
}

div + p {
    margin-top: 32px;
    letter-spacing: 0px;
}

h2 {
    width: 100vw;
    text-align: center;
    margin-left: -17px;
    font: normal normal bold 65px/75px Poppins;
}

h3 {
    font: normal normal bold 28px/38px Poppins;
    margin-top: -4px;
    margin-left: 1px;
}

h3 + p {
    text-decoration: underline;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1650px) {
    .wrapper {
        margin: auto;
        max-width: 95vw;
        gap: 3vw;
        flex-flow: wrap;
    }
}

@media (max-width: 800px) {
    h2 {
        font-size: 55px;
    }
    h3 {      
        margin-top: -10px;
        line-height: normal;
    }   
    h3 + p {
        margin-top: -10px;        
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 45px;
    }
    h3 {      
        margin-top: -10px;
        line-height: normal;
        font-size: $l;
    }   
    h3 + p {
        margin-top: -10px;        
    }
}